FireCrawl_Scrapping.json
{
  "name": "FireCrawl Scrapping",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body }}",
        "options": {
          "systemMessage": "You are helpful Assistant, you will guide users regards their queries.\n\nYou will use scraper when needed.\n\nMake sure when you use scraping tool then provide it input in this form for example \n\n{\n  \"JSON\": \"{\\\"url\\\": \\\"https://example.com\\\"}\"\n}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        20,
        -100
      ],
      "id": "8bad34d8-6f3b-44b0-9cbd-15cf14430bc9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -200,
        160
      ],
      "id": "09b262d9-1923-498d-be01-77c005c55b00",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "5LaYwfLSGp6qAvZZ",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('JSON','json response') }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -20,
        180
      ],
      "id": "a05e5995-607f-4e7a-90a6-f2796b415547",
      "name": "Firecrawl Scraping",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7m5379DU22kLJBcb",
          "name": "Firecrawl api"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a147c1a4-e675-4b62-8c3c-82028b7d7b1a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -460,
        -100
      ],
      "id": "eeffe2e0-4fde-4abf-b854-9c78e3df3128",
      "name": "Webhook",
      "webhookId": "a147c1a4-e675-4b62-8c3c-82028b7d7b1a"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        460,
        40
      ],
      "id": "8616cb50-13d0-4b1c-97cd-42d2b69fa440",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Scraping": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "05c42587-e5ed-4e0c-88e7-9e6f31a83e29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "979463c3d3c71da5772efc6f79e529574a94998fe3804bf15ea4fd7bdd21f0a2"
  },
  "id": "RCreJek3lSV9FkEM",
  "tags": []
}